.order {
    @include mobile {
        margin-top: 150px;
    }

    &__wrapper {
        min-height: 370px;
        position: relative;

        @include tablet {
            min-height: 655px;
        }

        @include mobile {
            margin: 0 auto;
            max-width: 460px;
            min-height: 560px;
        }

        @include sm-mobile {
            max-width: 320px;
        }
    }

    &__tabs {
        @include absolute(20px, 600px);
        display: flex;
        gap: 0 20px;
        z-index: 1;

        @include desktop {
            right: 360px;
        }

        @include tablet {
            left: 50%;
            right: auto;
            top: 410px;
            transform: translateX(-50%);
        }

        @include mobile {
            top: -15px;
        }
    }

    &__tab {
        @include trs();
        @include size(14px);
        background-color: var(--color-primary-bg);
        border-radius: 50%;
        cursor: pointer;

        @include on-event {
            background-color: var(--color-primary-h);
        }

        &.is-active {
            background-color: var(--color-primary-d);
        }
    }

    &__content {
        @include absolute(0, null, null, 50%);
        @include trs();
        display: grid;
        gap: 0 60px;
        grid-template-columns: 605px 545px;
        justify-content: center;
        transform: translateX(-50%);

        @include desktop {
            grid-template-columns: 605px 435px;
        }

        @include tablet {
            gap: 95px 0;
            grid-template-columns: auto;
            margin: 0 auto;
            max-width: 690px;
            width: 100%;
        }

        @include mobile {
            gap: 40px 0;
            top: 30px;
        }

        &.is-hide {
            opacity: 0;
            visibility: hidden;
        }

        &.is-show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__picture {
        @include tablet {
            @include flex-all-center;
        }
    }

    &__info {
        margin-top: 75px;

        @include tablet {
            margin: 0;
            text-align: center;
            width: 100%;
        }
    }

    &__title {
        @include font(var(--typo-1), 21px, var(--fw-bold));
        color: var(--color-secondary-d);
        margin-bottom: 12px;
    }

    &__button {
        cursor: pointer;
        margin-top: 100px;
        width: 100%;

        @include tablet {
            margin-top: 40px;
            max-width: 545px;
        }
    }
}
