<section class="section stats">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Let the Numbers Speak</h2>
        </div>
        <div class="stats__wrapper">
            <div class="stats__item">
                <p class="stats__num">500+</p>
                <p class="stats__paragraph paragraph">vetted experts</p>
            </div>
            <div class="stats__item">
                <p class="stats__num">1m+</p>
                <p class="stats__paragraph paragraph">finished projects</p>
            </div>
            <div class="stats__item">
                <p class="stats__num">1,500+</p>
                <p class="stats__paragraph paragraph">disciplines covered</p>
            </div>
            <div class="stats__item">
                <p class="stats__num">98.9%</p>
                <p class="stats__paragraph paragraph">satisfied clients</p>
            </div>
        </div>
    </div>
</section>
