<section class="section guarantee">
    <div class="container">
        <div class="title is-primary">
            <h1 class="title__text">Meet the top 2% writers</h1>
            <p class="title__text-small">Our pool of experts is your one resource for all things academic writing</p>
        </div>
        <div class="guarantee__wrapper">
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-4.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">Native Speakers</h3>
                    <p class="guarantee__paragraph paragraph">
                        Never worry about grammar or vocabulary: we employ native speakers with proven expertise.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-5.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">Degreed Experts</h3>
                    <p class="guarantee__paragraph paragraph">
                        MBAs, MAs, PhDs, and many more - all our writers boast degrees in the areas they specialize in.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-6.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">Niche Writers</h3>
                    <p class="guarantee__paragraph paragraph">
                        There are 500+ experts on our team. Whatever your subject is, there is a
                        vetted writer well-versed in it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
