<section class="section about-team">
    <div class="container">
        <div class="title">
            <h2 class="title__text">The team behind the scenes</h2>
            <p class="title__text-small">
                Our service wouldn’t be what it is without the hard work of everyone else on board:
            </p>
        </div>
        <div class="about-team__wrapper">
            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-1.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-2.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-3.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-4.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-5.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-6.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-7.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-8.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>

            <div class="about-team__item">
                <div class="about-team__picture">
                    <img src="../img//about-team-9.png" alt="photo">
                </div>
                <h3 class="about-team__title item-title">Chen Amit</h3>
                <p class="about-team__paragraph paragraph">Co-Founder and CEO</p>
            </div>
        </div>
    </div>
</section>