<section class="section experts">
    <div class="experts__container container">
        <div class="title is-link">
            <h2 class="title__text">What our expertshave accomplished</h2>
            <a href="#" class="btn is-only-text title__link">More on Our Experts</a>
        </div>
        <div class="experts__wrapper">
            <div class="expert__slider">
                <div class="swiper-button-next experts__button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#EE8253"/>
                    </svg>
                </div>
                <div class="swiper-button-prev experts__button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#EE8253"/>
                    </svg>
                </div>
                <div class="experts__swiper-pagination swiper-pagination"></div>
                <div class="experts__slider-container swiper-container">
                    <div class="swiper-wrapper">

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">5.0</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-1.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 243254</p>
                                            <img src="../img/flag-usa.svg" alt="flag-usa">
                                        </div>
                                        <p class="experts__task paragraph">4,500+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Health Science</li>
                                    <li class="experts__chip">Chemistry</li>
                                    <li class="experts__chip">Gender and Sexuality Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">3 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “I chose the nursing profession to help others. Your service is kind of similar.
                                    Thanks for your enormous help with my project.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">5.0</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-2.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 389077</p>
                                            <img src="../img/flag-uk.svg" alt="flag-uk">
                                        </div>
                                        <p class="experts__task paragraph">5,000+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Business</li>
                                    <li class="experts__chip">Economics</li>
                                    <li class="experts__chip">Family and Consumer Science</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">6 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “Thanks a lot! You wrote a perfect paper for my ecommerce business course.
                                    My teacher was super impressed.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">4.9</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-3.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 389077</p>
                                            <img src="../img/flag-can.svg" alt="flag-canada">
                                        </div>
                                        <p class="experts__task paragraph">2,500+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Languages & Linguistics</li>
                                    <li class="experts__chip">Library and Museum Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">5 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “Please say hi and big thanks to the expert who did my essay on Shakespearean tragedy.
                                    Exquisite writing! She must be a genius!”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">4.8</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-4.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 363254</p>
                                            <img src="../img/flag-fra.svg" alt="flag-france">
                                        </div>
                                        <p class="experts__task paragraph">3,000+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Health Science</li>
                                    <li class="experts__chip">Gender and Sexuality Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">4 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “I chose the nursing profession to help others. Your service is kind of similar.
                                    Thanks for your enormous help with my project.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">4.7</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-5.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 453254</p>
                                            <img src="../img/flag-germ.svg" alt="flag-germany">
                                        </div>
                                        <p class="experts__task paragraph">4,200+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Chemistry</li>
                                    <li class="experts__chip">Gender and Sexuality Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">2 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “I chose the nursing profession to help others. Your service is kind of similar.
                                    Thanks for your enormous help with my project.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">5.0</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-6.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 243254</p>
                                            <img src="../img/flag-usa.svg" alt="flag-usa">
                                        </div>
                                        <p class="experts__task paragraph">4,500+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Health Science</li>
                                    <li class="experts__chip">Chemistry</li>
                                    <li class="experts__chip">Gender and Sexuality Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">3 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “I chose the nursing profession to help others. Your service is kind of similar.
                                    Thanks for your enormous help with my project.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <p class="experts__rating">4.8</p>
                            <div class="experts__group">
                                <div class="experts__about">
                                    <div class="experts__image">
                                        <img src="../img/expert-7.svg" alt="expert">
                                    </div>
                                    <div class="experts__info">
                                        <div class="experts__from">
                                            <p class="experts__num item-title">ID 333254</p>
                                            <img src="../img/flag-ita.svg" alt="flag-italy">
                                        </div>
                                        <p class="experts__task paragraph">4,100+ completed tasks</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__group">
                                <ul class="experts__chips">
                                    <li class="experts__chip">Health Science</li>
                                    <li class="experts__chip">Chemistry</li>
                                    <li class="experts__chip">Gender and Sexuality Studies</li>
                                </ul>
                            </div>
                            <div class="experts__group is-column">
                                <div class="experts__review">
                                    <p class="experts__text">Newest review</p>
                                    <p class="experts__days">6 days ago</p>
                                </div>
                                <p class="experts__paragraph paragraph">
                                    “I chose the nursing profession to help others. Your service is kind of similar.
                                    Thanks for your enormous help with my project.”
                                </p>
                            </div>
                        </div>

                        <div class="experts__single swiper-slide">
                            <div class="experts__picture">
                                <img src="../img/expert-group.svg" alt="photo">
                            </div>
                            <div class="experts__content">
                                <h3 class="experts__title item-title">
                                    We have paper writers in every field you can think of
                                </h3>
                                <p class="experts__category paragraph">
                                    So, whatever your course or subject is, say what needs to be done, and your expert will get
                                    down to work right away.
                                </p>
                            </div>
                            <a href="#" class="btn experts__button">Find Me the Perfect Fit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experts__single">
                <div class="experts__picture">
                    <img src="../img/expert-group.svg" alt="photo">
                </div>
                <div class="experts__content">
                    <h3 class="experts__title item-title">
                        We have paper writers in every field you can think of
                    </h3>
                    <p class="experts__category paragraph">
                        So, whatever your course or subject is, say what needs to be done, and your expert will get
                        down to work right away.
                    </p>
                </div>
                <a href="#" class="btn experts__button">Find Me the Perfect Fit</a>
            </div>
        </div>
    </div>
</section>
