<section class="section about-join">
    <div class="container">
        <div class="about-join__wrapper">
            <div class="about-join__content">
                <div class="title">
                    <h2 class="title__text">Join our team</h2>
                    <p class="title__text-small">
                        Want to share your expertisein academic and business writing with students from
                        all over the world? We arealways hungry for professional essay writers, content 
                        editors, custom carespecialists and more! Enjoy flexible hours, a great team, and 
                        rewarding work.
                    </p>
                </div>
                <a href="#" class="btn is-large">Contact us</a>
            </div>
            <div class="about-join__picture">
                <img src="../img//about-join.svg" alt="picture">
            </div>
        </div>
    </div>
</section>