<section class="section benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Say 'write my paper' and your expert will</h2>
        </div>
        <div class="benefits__wrapper">
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-1.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Enjoy Higher Grades</h3>
                    <p class="benefits__paragraph paragraph">
                        It is safe to pay for paper here. With a rigorous screening process set in place, you will
                        have only the best of experts working on your projects.
                    </p>
                    <a href="#" class="benefits__btn">Learn How We Screen</a>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-2.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Ace Your Academic Paper Writing</h3>
                    <p class="benefits__paragraph paragraph">
                        Our QA team is relentless. So, saying 'do my paper' means you are getting a project that will
                        meet all your - and your teacher's - requirements.
                    </p>
                    <a href="#" class="benefits__btn">See How It Works</a>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-3.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Forget About All-Nighters</h3>
                    <p class="benefits__paragraph paragraph">
                        Experts with our paper writing services work across all the time zones, so your project will
                        be completed even if it’s only 3 hours away.
                    </p>
                    <a href="#" class="benefits__btn">Touch Base For Help</a>
                </div>
            </div>
        </div>
    </div>
</section>
