<section class="brands">
    <div class="container">
        <div class="brands__wrapper">
            <p class="brands__title">As Seen On</p>
                <div class="brands__inner">
                    <div class="brands__logo">
                        <img src="../img/brands-1.svg" alt="business-review logo">
                    </div>
                    <div class="brands__logo">
                        <img src="../img/brands-2.svg" alt="native-new-online logo">
                    </div>
                    <div class="brands__logo">
                        <img src="../img/brands-3.svg" alt="citezen journal logo">
                    </div>
                    <div class="brands__logo">
                        <img src="../img/brands-4.svg" alt="mirror review logo">
                    </div>
                    <div class="brands__logo">
                        <img src="../img/brands-5.svg" alt="outlook logo">
                    </div>
                </div>
            <p class="brands__category">Trusted by 250,000+ students</p>
        </div>
    </div>
</section>
