<section class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__content">
                <div class="title is-primary">
                    <h1 class="title__text">Questions? Shoot.</h1>
                    <p class="title__text-small">We will answer all your queries.</p>
                </div>
                <div class="contact__group">
                    <div class="contact__list">
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="../img/phone.svg" alt="phone">
                            </div>
                            <div class="contact__info">
                                <p class="contact__paragraph paragraph">Toll-free from the US & Canada:</p>
                                <a href="tel:+18665849894" class="contact__link">+1 (866) 584-9894</a>
                            </div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="../img/time.svg" alt="time">
                            </div>
                            <div class="contact__info">
                                <p class="contact__paragraph paragraph">We’re online:</p>
                                <p class="contact__days">Mon 00:00 - Sun 23:59</a>
                            </div>
                        </div>
                    </div>
                    <div class="contact__list">
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="../img/mail.svg" alt="mail">
                            </div>
                            <div class="contact__info">
                                <p class="contact__paragraph paragraph">For new orders:</p>
                                <a href="mailto:sales@mypaperwriter.com" class="contact__link">sales@mypaperwriter.com</a>
                            </div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="../img/mail.svg" alt="mail">
                            </div>
                            <div class="contact__info">
                                <p class="contact__paragraph paragraph">For current orders::</p>
                                <a href="mailto:support@mypaperwriter.com" class="contact__link">support@mypaperwriter.com</a>
                            </div>
                        </div>
                        <div class="contact__item">
                            <div class="contact__icon">
                                <img src="../img/mail.svg" alt="mail">
                            </div>
                            <div class="contact__info">
                                <p class="contact__paragraph paragraph">For payment clarification:</p>
                                <a href="mailto:billing@mypaperwriter.com" class="contact__link">billing@mypaperwriter.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact__image">
                <img src="../img/contact.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
