<div class="dropdown-menu">
    <div class="header-nav__dropdown">
        <div class="header-nav__dropdown-wrapper is-btns">
            <a href="#" class="header-nav__dropdown-link is-close">
                <span class="header-nav__dropdown-icon" aria-hidden="true"></span>
                Menu
            </a>
        </div>
        <div class="header-nav__dropdown-wrapper is-flex">
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title item-title">Services</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Buy Research Paper</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Buy Term Paper</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Cheap Research Paper</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Term Papers for Sale</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title item-title">Disciplines</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Write My Economics Paper</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Write My Psychology Paper</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title item-title">Offers</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Buy Thesis</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Coursework Help</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Custom Dissertation</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Write My Case Study</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Research Proposal Writing</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
