<section class="error">
    <div class="container">
        <div class="error__wrapper">
            <div class="error__content">
                <div class="title is-primary">
                    <h1 class="title__text">Sorry</h1>
                    <p class="title__text-small">The page you’re looking for doesn’t exist.</p>
                </div>
                <a href="index.html" class="btn is-large">Get Back to the Homepage</a>
            </div>
            <div class="error__image">
                <img src="../img/404.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
