<section class="section faq">
    <div class="faq__container container">
        <div class="title">
            <h2 class="title__text">Frequently asked questions</h2>
            <p class="title__text-small">
                Browse through the FAQs for answers to most common queries, or get in touch directly.
            </p>
        </div>
        <div class="faq__content">
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Is it safe to use your paper writing service?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        I requested the editor as I wanted my essay to be proofread and revised following the teacher’s
                        comments. Edits were made very quickly. I am satisfied with the writer’s work and would
                        recommend her services. I requested the editor as I wanted my essay to be proofread and
                        revised following the teacher’s comments. Edits were made very quickly. I am satisfied with
                        the writer’s work and would recommend her services.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Who will do my paper?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        I requested the editor as I wanted my essay to be proofread and revised following the teacher’s
                        comments. Edits were made very quickly. I am satisfied with the writer’s work and would
                        recommend her services. I requested the editor as I wanted my essay to be proofread and
                        revised following the teacher’s comments. Edits were made very quickly. I am satisfied with
                        the writer’s work and would recommend her services.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    I need help writing my paper. Can you do it for cheap?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur ducimus enim
                        consequuntur fugiat fugit dicta officiis! Adipisci dicta, aut inventore tempore optio
                        magnam reprehenderit temporibus laborum esse consequatur neque!
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Can you write my papers for me with only a few hours to go?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus earum
                        similique minima iure? Similique odit commodi unde, facere quae sunt veniam
                        reprehenderit. Quae temporibus, harum veniam nisi sapiente ipsa?
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    When you begin to write my paper, how can I be sure it'll be done from scratch?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                        necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                        esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    I was tasked with an art project. Will you write my paper order?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                        necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                        esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Will my paper writer follow all my instructions?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                        necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                        esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
