<footer class="footer">
    <div class="footer__container container">
        <div class="footer__row is-grid">
            <div class="footer__column is-first">
                <div class="footer__logo">
                    <a href="#">
                        <img src="../img/logo-footer.svg" alt="logo">
                    </a>
                </div>
                <p class="footer__descr">
                    We offer professional writing assistance to grad and undergrad students with projects that range
                    from term papers to dissertations. Our experts will also help you with math problems and
                    PowerPoint presentations.
                </p>
                <div class="footer__payment">
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-1.svg" alt="apple-pay">
                    </div>
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-2.svg" alt="google-pay">
                    </div>
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-3.svg" alt="visa">
                    </div>
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-4.svg" alt="mastercard">
                    </div>
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-5.svg" alt="amex">
                    </div>
                    <div class="footer__pay-logo">
                        <img src="../img/footer-logo-6.svg" alt="microsoft">
                    </div>
                </div>
                <div class="footer__protected">
                    <img src="../img/footer-protected.png" alt="protected">
                </div>
            </div>
            <div class="footer__column is-second">
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">Academic Papers Purchase</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Action Research Paper Writing</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Buy College Papers Online</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Buy Research Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Buy Term Papers</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Cheap Research Paper</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">College Paper Services</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">College Paper Help</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Custom Term Papers</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Pay For College Papers</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Pay For Research Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Pay Someone To Write My Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Research Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Term Paper Help</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Term Papers For Sale</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Write My Research Paper</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">Specialized Paper Writing Services</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Accounting Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Biology Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Chemistry Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Economic Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">English Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">History Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Law Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Medical Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Nursing Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Philosophy Paper Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Sociology Paper Writing Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">Academic Assistance and Coursework</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Write My Term Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Buy Coursework Online</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Coursework Help</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Coursework Writing Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Custom Dissertation Writing Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">Writing and Editing Services</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Edit My Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Personal Statement Writing</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Proofreading Service</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Research Proposal Writing</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Revise My Paper</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Write My Business Plan</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Write My Essay</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__dropdown">
                    <h3 class="footer__title-drop">Products</h3>
                    <div class="footer__dropdown-wrap">
                        <ul class="footer__dropdown-list">
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Conclusion Generator</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Plagiarism Checker</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Read My Essay</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Grammar Checker</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Thesis Generator</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Title Page Generator</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Research Paper Examples</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Word counter</a>
                            </li>
                            <li class="footer__dropdown-item">
                                <a href="#" class="footer__dropdown-link">Citation Generator</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__column is-third">
                <div class="footer__contact">
                    <h3 class="footer__title-link">Call us now:</h3>
                    <a href="tel:+18665849894" class="footer__link">+1 (866) 584-9894</a>
                </div>
                <div class="footer__contact">
                    <h3 class="footer__title-link">Payment queries:</h3>
                    <a href="mailto:sales@mypaperwriter.com" class="footer__link">sales@mypaperwriter.com</a>
                </div>
                <div class="footer__contact">
                    <h3 class="footer__title-link">Payment queries:</h3>
                    <a href="mailto:support@mypaperwriter.com" class="footer__link">support@mypaperwriter.com</a>
                </div>
                <div class="footer__contact">
                    <h3 class="footer__title-link">Payment issues:</h3>
                    <a href="mailto:billing@mypaperwriter.com" class="footer__link">billing@mypaperwriter.com</a>
                </div>
            </div>
        </div>
        <div class="footer__row">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Blog</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">How It Works</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">About Us</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Review</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">User Agreement</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Loyalty Program</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Money-Back Guarantee</a>
                </li>
            </ul>
            <p class="footer__info">
                All model papers provided by MyPaperWriter.com must be properly referenced. We do not encourage or
                endorse activities that may violate applicable law, as well as college and/or university policies.
            </p>
            <p class="footer__copyright">Copyright © 2013-2024 - MyPaperWriter.com</p>
        </div>
    </div>
</footer>
