<section class="section guarantee">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Why trust your projects to MyPaperWriter?</h2>
        </div>
        <div class="guarantee__wrapper">
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-1.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">2x Freshness Test</h3>
                    <p class="guarantee__paragraph paragraph">
                        Once completed, your paper will be checked for plagiarism twice: against the web, and our
                        experts’ previous work.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-2.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">10-Day Grace Period</h3>
                    <p class="guarantee__paragraph paragraph">
                        Feel your paper is not quite up to scratch? Have your project revised for free until
                        you’re completely happy with it.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-3.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">60-Day Quality Warranty</h3>
                    <p class="guarantee__paragraph paragraph">
                        Some things you won’t need, but we’ve put them there just in case. (Enjoy top quality right
                        from the start.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
