<section class="hero">
    <div class="hero__container container">
        <div class="hero__column">
            <div class="hero__content">
                <h1 class="hero__title">Hear from your peers</h1>
                <p class="hero__category paragraph">
                    Students like you have already upped their grades. How about you?
                </p>
            </div>
            <div class="hero__buttons">
                <a href="#" class="btn is-large">Write My Paper</a>
                <a href="#" class="btn is-large is-transparent">View Sample</a>
            </div>
            <div class="hero__list">
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-1.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">MyPaperWriter</span>
                    </div>
                </div>
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-2.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">Sitejabber</span>
                    </div>
                </div>
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-3.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">Reviews.io</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__column">
            <div class="hero__image">
                <img src="../img/hero-review.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
