<section class="hero">
    <div class="hero__container container">
        <div class="hero__column">
            <div class="hero__content">
                <h1 class="hero__title">Can a vetted expert write my paper? Yes.</h1>
                <p class="hero__category paragraph">
                    Excel in your studies, with a paper writing service that covers all your favorite
                    (and not so favorite) subjects.
                </p>
            </div>
            <div class="hero__buttons">
                <a href="#" class="btn is-large">Write My Paper</a>
                <a href="#" class="btn is-large is-transparent">View Sample</a>
            </div>
            <div class="hero__list">
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-1.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">MyPaperWriter</span>
                    </div>
                </div>
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-2.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">Sitejabber</span>
                    </div>
                </div>
                <div class="hero__brand">
                    <div class="hero__brand-group">
                        <img src="../img/logo-brand-3.svg" alt="logo">
                    </div>
                    <div class="hero__brand-group">
                        <div class="hero__brand-row">
                            <span class="hero__brand-num">5.0</span>
                            <span class="hero__brand-rating" aria-hidden="true"></span>
                        </div>
                        <span class="hero__brand-name">Reviews.io</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__column calculator">
            <form class="calculator__form">
                <div class="calculator__wrapper">
                    <ul class="calculator__list is-desktop js-tab-list">
                        <li class="calculator__link js-tab-link">Writing</li>
                        <li class="calculator__link js-tab-link">Editing</li>
                        <li class="calculator__link js-tab-link">Other</li>
                    </ul>

                    <div class="calculator__content js-tab-content">
                        <div class="calculator__wrap">
                            <p class="calculator__label" data-label-type="academicLevel">Project purpose</p>
                            <div class="calculator__select-block">
                                <div class="calculator__custom-select">
                                    <div class="calculator__selected-item" data-selected-type="academicLevel">High School</div>
                                    <div class="calculator__dropdown">
                                        <div class="calculator__option" data-value="1" data-index="High School">High School</div>
                                        <div class="calculator__option" data-value="1.15" data-index="College Freshman">College Freshman</div>
                                        <div class="calculator__option" data-value="1.25" data-index="College Sophomore">College Sophomore</div>
                                        <div class="calculator__option" data-value="1.35" data-index="College Junior">College Junior</div>
                                        <div class="calculator__option" data-value="1.45" data-index="College Senior">College Senior</div>
                                        <div class="calculator__option" data-value="1.6" data-index="Master's">Master's</div>
                                        <div class="calculator__option" data-value="1.75" data-index="PhD">PhD</div>
                                        <div class="calculator__option" data-value="1.25" data-index="Business (Standard)">Business (Standard)</div>
                                        <div class="calculator__option" data-value="1.5" data-index="Business (Premium)">Business (Premium)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="calculator__wrap">
                            <p class="calculator__label" data-label-type="urgency">Deadline</p>
                            <div class="calculator__select-block">
                                <div class="calculator__custom-select">
                                    <div class="calculator__selected-item" data-selected-type="urgency">15+ days</div>
                                    <div class="calculator__dropdown">
                                        <div class="calculator__option" data-value="2.225" data-index="3 hours">3 hours</div>
                                        <div class="calculator__option" data-value="2.2" data-index="9 hours">9 hours</div>
                                        <div class="calculator__option" data-value="2.1" data-index="13 hour">13 hour</div>
                                        <div class="calculator__option" data-value="1.983" data-index="1 day">1 day</div>
                                        <div class="calculator__option" data-value="1.904" data-index="2 days">2 days</div>
                                        <div class="calculator__option" data-value="1.84" data-index="3 days">3 days</div>
                                        <div class="calculator__option" data-value="1.69" data-index="4 days">4 days</div>
                                        <div class="calculator__option" data-value="1.56" data-index="5 days">5 days</div>
                                        <div class="calculator__option" data-value="1.46" data-index="7 days">7 days</div>
                                        <div class="calculator__option" data-value="1.39" data-index="9 days">9 days</div>
                                        <div class="calculator__option" data-value="1.25" data-index="11 days">11 days</div>
                                        <div class="calculator__option" data-value="1.17" data-index="15+ days">15+ days</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="calculator__group">
                            <p class="calculator__price is-tablet">
                                <span class="calculator__result">$0</span>
                                <span class="calculator__result-text">per 100 words</span>
                            </p>
                            <button class="calculator__button btn is-transparent is-large" type="button">Submit details</button>
                        </div>
                    </div>

                    <div class="calculator__content js-tab-content is-second">
                        <div class="calculator__wrap">
                            <p class="calculator__label" data-label-type="academicLevel">Project purpose</p>
                            <div class="calculator__select-block">
                                <div class="calculator__custom-select-second">
                                    <div class="calculator__selected-item-second" data-selected-type="academicLevel">High School</div>
                                    <div class="calculator__dropdown-second">
                                        <div class="calculator__option-second" data-value="1" data-index="High School">High School</div>
                                        <div class="calculator__option-second" data-value="1.15" data-index="College Freshman">College Freshman</div>
                                        <div class="calculator__option-second" data-value="1.25" data-index="College Sophomore">College Sophomore</div>
                                        <div class="calculator__option-second" data-value="1.35" data-index="College Junior">College Junior</div>
                                        <div class="calculator__option-second" data-value="1.45" data-index="College Senior">College Senior</div>
                                        <div class="calculator__option-second" data-value="1.6" data-index="Master's">Master's</div>
                                        <div class="calculator__option-second" data-value="1.75" data-index="PhD">PhD</div>
                                        <div class="calculator__option-second" data-value="1.25" data-index="Business (Standard)">Business (Standard)</div>
                                        <div class="calculator__option-second" data-value="1.5" data-index="Business (Premium)">Business (Premium)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="calculator__wrap">
                            <p class="calculator__label" data-label-type="urgency">Deadline</p>
                            <div class="calculator__select-block">
                                <div class="calculator__custom-select-second">
                                    <div class="calculator__selected-item-second" data-selected-type="urgency">15+ days</div>
                                    <div class="calculator__dropdown-second">
                                        <div class="calculator__option-second" data-value="2.225" data-index="3 hours">3 hours</div>
                                        <div class="calculator__option-second" data-value="2.2" data-index="9 hours">9 hours</div>
                                        <div class="calculator__option-second" data-value="2.1" data-index="13 hour">13 hour</div>
                                        <div class="calculator__option-second" data-value="1.983" data-index="1 day">1 day</div>
                                        <div class="calculator__option-second" data-value="1.904" data-index="2 days">2 days</div>
                                        <div class="calculator__option-second" data-value="1.84" data-index="3 days">3 days</div>
                                        <div class="calculator__option-second" data-value="1.69" data-index="4 days">4 days</div>
                                        <div class="calculator__option-second" data-value="1.56" data-index="5 days">5 days</div>
                                        <div class="calculator__option-second" data-value="1.46" data-index="7 days">7 days</div>
                                        <div class="calculator__option-second" data-value="1.39" data-index="9 days">9 days</div>
                                        <div class="calculator__option-second" data-value="1.25" data-index="11 days">11 days</div>
                                        <div class="calculator__option-second" data-value="1.17" data-index="15+ days">15+ days</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="calculator__group">
                            <p class="calculator__price is-tablet">
                                <span class="calculator__result">$0</span>
                                <span class="calculator__result-text">per 100 words</span>
                            </p>
                            <button class="calculator__button btn is-transparent is-large" type="button">Submit details</button>
                        </div>
                    </div>
                    <div class="calculator__content js-tab-content is-other">
                        <img src="../img/calculator.svg" alt="image">
                        <div class="calculator__info">
                            <h3 class="calculator__title item-title">We can handle anything!</h3>
                            <p class="calculator__paragraph paragraph">
                                Your project’s not on the list? We’ll sort it out anyway.
                            </p>
                        </div>
                        <a href="#" class="btn is-large">Get a Quote</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
