<section class="section history">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Our history</h2>
        </div>
        <div class="history__wrapper">
            <div class="history__item">
                <span class="history__year">2013</span>
                <h3 class="history__title item-title">The Inception</h3>
                <p class="history__paragraph paragraph">
                    Your writer may start with a blank page, but they know exactly what kind of content will go inside.
                </p>
            </div>
            <div class="history__item">
                <span class="history__year">2015</span>
                <h3 class="history__title item-title">Hired Our 500th Writer</h3>
                <p class="history__paragraph paragraph">
                    Your writer may start with a blank page, but they know exactly what kind of content will go inside.
                </p>
            </div>
            <div class="history__item">
                <span class="history__year">2017</span>
                <h3 class="history__title item-title">Changed Our Looks</h3>
                <p class="history__paragraph paragraph">
                    Your writer may start with a blank page, but they know exactly what kind of content will go inside.
                </p>
            </div>
            <div class="history__item">
                <span class="history__year">2023</span>
                <h3 class="history__title item-title">The Fight Against AI</h3>
                <p class="history__paragraph paragraph">
                    Your writer may start with a blank page, but they know exactly what kind of content will go inside.
                </p>
            </div>
        </div>
    </div>
</section>