<section class="section loyalty">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Save while you go along</h2>
            <p class="title__text-small">
                Get one point for every dollar spent. The more points you collect, the sooner you’ll unlock
                your next discount.
            </p>
        </div>
        <div class="loyalty__wrapper">
            <div class="loyalty__item">
                <div class="loyalty__picture">
                    <img src="../img/loyalty-1.svg" alt="rate">
                </div>
                <div class="loyalty__content">
                    <h3 class="loyalty__title">5% OFF</h3>
                    <p class="loyalty__paragraph paragraph">all-time total: <span class="is-bold">750 points</span></p>
                </div>
            </div>
            <div class="loyalty__item">
                <div class="loyalty__picture">
                    <img src="../img/loyalty-2.svg" alt="rate">
                </div>
                <div class="loyalty__content">
                    <h3 class="loyalty__title">10% OFF</h3>
                    <p class="loyalty__paragraph paragraph">all-time total: <span class="is-bold">1500 points</span></p>
                </div>
            </div>
            <div class="loyalty__item">
                <div class="loyalty__picture">
                    <img src="../img/loyalty-3.svg" alt="rate">
                </div>
                <div class="loyalty__content">
                    <h3 class="loyalty__title">15% OFF</h3>
                    <p class="loyalty__paragraph paragraph">all-time total: <span class="is-bold">3000 points</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
