<section class="section more-block is-reverse">
    <div class="more-block__container container">
        <div class="more-block__wrapper">
            <div class="more-block__content">
                <h2 class="more-block__title">Have all your subjects covered</h2>
                <p class="more-block__paragraph paragraph">
                    Improve your academic score easily, with 500+ experts across all your courses and disciplines.
                </p>
                <div class="more-block__buttons">
                    <a href="#" class="btn is-large">Write My Paper</a>
                    <a href="#" class="btn is-large is-transparent">View Pricing</a>
                </div>
            </div>
            <div class="more-block__picture">
                <img src="../img/more-block-2.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
