<section class="section more-block">
    <div class="more-block__container container">
        <div class="more-block__wrapper">
            <div class="more-block__picture">
                <img src="../img/more-block.svg" alt="picture">
            </div>
            <div class="more-block__content">
                <h2 class="more-block__title">Write when you want, not when you have to</h2>
                <p class="more-block__paragraph paragraph">
                    Say, 'write my paper for me,' and go about your own business knowing that
                    your project is being taken care of.
                </p>
                <div class="more-block__buttons">
                    <a href="#" class="btn is-large">Write My Paper</a>
                    <a href="#" class="btn is-large is-transparent">How It Works</a>
                </div>
            </div>
        </div>
    </div>
</section>
