<section class="section no-ai">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Who is my paper writer?</h2>
        </div>
        <div class="no-ai__wrapper">
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">100% Human</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Forget about AI-generated content altogether: we employ human experts only.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Knowledgeable</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        We believe in the power of our experts: they’ll tackle any paper you throw at them.
                    </p>
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__picture">
                    <img src="../img/no-ai.svg" alt="robot">
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Punctual & Hardworking</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        We are no stranger to working under time pressure, and meeting tight deadlines.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">100% Efficient</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Hire a paper writer that’s quick to respond to your challenges, and beat them all.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
