<section class="section order">
    <div class="container">
        <div class="title">
            <h2 class="title__text">How to make an order</h2>
        </div>
        <div class="order__wrapper">
            <ul class="order__tabs">
                <li class="order__tab js-tab-link" data-tab-index="0"></li>
                <li class="order__tab js-tab-link" data-tab-index="1"></li>
                <li class="order__tab js-tab-link" data-tab-index="2"></li>
            </ul>
            <div class="order__content" data-tab-index="0">
                <div class="order__picture">
                    <img src="../img/order-1.svg" alt="picture">
                </div>
                <div class="order__info">
                    <h3 class="order__title">Step 1. Tell us about your needs</h3>
                    <p class="order__paragraph paragraph">
                        All you need to do to register is give us an email address and we’ll generate an account
                        for you. Fill out the order form with essay instructions your teacher has provided.
                    </p>
                    <div class="btn is-transparent order__button js-next-tab" data-tab-index="1">Step 2</div>
                </div>
            </div>

            <div class="order__content" data-tab-index="1">
                <div class="order__picture">
                    <img src="../img/order-2.svg" alt="picture">
                </div>
                <div class="order__info">
                    <h3 class="order__title">Step 2. Tell us about your needs</h3>
                    <p class="order__paragraph paragraph">
                        All you need to do to register is give us an email address and we’ll generate an account
                        for you. Fill out the order form with essay instructions your teacher has provided.
                    </p>
                    <div class="btn is-transparent order__button js-next-tab" data-tab-index="2">Step 3</div>
                </div>
            </div>

            <div class="order__content" data-tab-index="2">
                <div class="order__picture">
                    <img src="../img/order-3.svg" alt="picture">
                </div>
                <div class="order__info">
                    <h3 class="order__title">Step 3. Tell us about your needs</h3>
                    <p class="order__paragraph paragraph">
                        All you need to do to register is give us an email address and we’ll generate an account
                        for you. Fill out the order form with essay instructions your teacher has provided.
                    </p>
                    <a href="#" class="btn order__button">Place an order</a>
                </div>
            </div>
        </div>
    </div>
</section>
