<section class="price">
    <div class="container">
        <div class="title is-primary">
            <h1 class="title__text">Pricing</h1>
        </div>
        <div class="price__wrapper">
            <ul class="price__tabs">
                <li class="price__tab js-tab-link">Writing</li>
                <li class="price__tab js-tab-link">Editing</li>
                <li class="price__tab js-tab-link">Stacks</li>
                <li class="price__tab js-tab-link">Other</li>
            </ul>

            <div class="price__content is-row">
                <div class="price__row is-first">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/document.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Writing</h3>
                        </div>
                        <p class="price__paragraph paragraph">
                            Get a project written from scratch, and aligned with your specific requirements.
                        </p>
                        <div class="price__image-group">
                            <div class="price__image">
                                <img src="../img/price-pay-1.svg" alt="apple pay">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-2.svg" alt="google pay">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-3.svg" alt="visa">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-4.svg" alt="mastercard">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-5.svg" alt="american expresse">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-6.svg" alt="microsoft">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn is-large price__button">Order Now</a>
                </div>
                <div class="price__row is-second">
                    <div class="price__cost">
                        <span class="price__text">From:</span>
                        <p class="price__num">$5.85</p>
                        <p class="price__category paragraph">per 100 words</p>
                    </div>
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Any formatting style
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Full plagiarism check
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            10-day grace period
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            24/7 human support
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Free title page & abstract
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="price__content is-row">
                <div class="price__row is-first">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/edit-box.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Editing</h3>
                        </div>
                        <p class="price__paragraph paragraph">
                            Have a vetted editor polish your project to perfection.
                        </p>
                        <div class="price__image-group">
                            <div class="price__image">
                                <img src="../img/price-pay-1.svg" alt="apple pay">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-2.svg" alt="google pay">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-3.svg" alt="visa">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-4.svg" alt="mastercard">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-5.svg" alt="american expresse">
                            </div>
                            <div class="price__image">
                                <img src="../img/price-pay-6.svg" alt="microsoft">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn is-large price__button">Order Now</a>
                </div>
                <div class="price__row is-second">
                    <div class="price__cost">
                        <span class="price__text">From:</span>
                        <p class="price__num">$3.90</p>
                        <p class="price__category paragraph">per 100 words</p>
                    </div>
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Refined structure and tone
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Any formatting style
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Proofreading
                            <span class="price__icon-info" aria-hidden="true">
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            10-day grace period
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            24/7 human support
                        </li>
                    </ul>
                </div>
            </div>

            <div class="price__content is-column">
                <div class="price__info">
                    <div class="price__group">
                        <div class="price__icon">
                            <img src="../img/fact-check.svg" alt="icon">
                        </div>
                        <h3 class="price__title">Stacks</h3>
                    </div>
                    <p class="price__paragraph paragraph">
                        Have any number of papers within one course done by the same expert.
                    </p>
                    <a href="#" class="btn is-large price__button">Go to Stacks</a>
                </div>
            </div>

            <div class="price__content is-column">
                <div class="price__info">
                    <div class="price__group">
                        <div class="price__icon">
                            <img src="../img/list-alt.svg" alt="icon">
                        </div>
                        <h3 class="price__title">Other</h3>
                    </div>
                    <p class="price__paragraph paragraph">
                        Got an odd project? Say what needs to be done, and your expert will tackle it.
                    </p>
                    <a href="#" class="btn is-large price__button">Get A Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
