<section class="section review">
    <div class="review__container container">
        <div class="title">
            <h2 class="title__text">Your peers speak</h2>
        </div>
        <div class="review__wrapper">
            <ul class="review__tabs">
                <li class="review__tab js-tab-link">
                    <img src="../img/logo-brand-1.svg" alt="logo">
                    <span class="review__logo-name">MyPaperWriter</span>
                </li>
                <li class="review__tab js-tab-link">
                    <img src="../img/logo-brand-2.svg" alt="logo">
                    <span class="review__logo-name">Sitejabber</span>
                </li>
                <li class="review__tab js-tab-link">
                    <img src="../img/logo-brand-3.svg" alt="logo">
                    <span class="review__logo-name">Reviews.io</span>
                </li>
            </ul>
            <div class="review__content">
                <div class="review__slider">
                    <div class="swiper-button-next review__button-next-first">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev review__button-prev-first">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="review__swiper-pagination-first swiper-pagination"></div>
                    <div class="review__slider-container-first swiper-container">
                        <div class="swiper-wrapper">
                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Sebastian</p>
                                            <img src="../img/flag-usa.svg" alt="flag usa">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.8</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Essay writing</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        I tried various essay writing services but I can say with confidence that this
                                        is the best service that I have ever used. Thank you!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-swiz.svg" alt="flag switzerland">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">6 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-austr.svg" alt="flag australia">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.0</span>
                                            <img src="../img/rating-four.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">5 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Mykola</p>
                                            <img src="../img/flag-ua.svg" alt="flag ukraine">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.7</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">John</p>
                                            <img src="../img/flag-uk.svg" alt="flag uk">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">8 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="review__content">
                <div class="review__slider">
                    <div class="swiper-button-next review__button-next-second">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev review__button-prev-second">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="review__swiper-pagination-second swiper-pagination"></div>
                    <div class="review__slider-container-second swiper-container">
                        <div class="swiper-wrapper">
                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-austr.svg" alt="flag australia">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.0</span>
                                            <img src="../img/rating-four.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">5 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Mykola</p>
                                            <img src="../img/flag-ua.svg" alt="flag ukraine">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.7</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Sebastian</p>
                                            <img src="../img/flag-usa.svg" alt="flag usa">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.8</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Essay writing</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        I tried various essay writing services but I can say with confidence that this
                                        is the best service that I have ever used. Thank you!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-swiz.svg" alt="flag switzerland">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">6 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">John</p>
                                            <img src="../img/flag-uk.svg" alt="flag uk">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">8 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="review__content">
                <div class="review__slider">
                    <div class="swiper-button-next review__button-next-third">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev review__button-prev-third">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#EE8253"/>
                        </svg>
                    </div>
                    <div class="review__swiper-pagination-third swiper-pagination"></div>
                    <div class="review__slider-container-third swiper-container">
                        <div class="swiper-wrapper">
                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-swiz.svg" alt="flag switzerland">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">6 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Mykola</p>
                                            <img src="../img/flag-ua.svg" alt="flag ukraine">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.7</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">John</p>
                                            <img src="../img/flag-uk.svg" alt="flag uk">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">5.0</span>
                                            <img src="../img/rating-five.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">8 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Arnold</p>
                                            <img src="../img/flag-austr.svg" alt="flag australia">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.0</span>
                                            <img src="../img/rating-four.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Book review</p>
                                        <p class="review__days">5 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        The experts are super friendly and respond within few minutes. And the content
                                        they deliver is always on flick. Thanks!
                                    </p>
                                </div>
                            </div>

                            <div class="review__slide swiper-slide">
                                <div class="review__row">
                                    <div class="review__info">
                                        <div class="review__group">
                                            <p class="review__name">Sebastian</p>
                                            <img src="../img/flag-usa.svg" alt="flag usa">
                                        </div>
                                        <div class="review__group">
                                            <span  class="review__num">4.8</span>
                                            <img src="../img/rating-four-half.svg" alt="rating">
                                        </div>
                                    </div>
                                    <div class="review__verify">
                                        <span class="review__verify-icon"></span>
                                        <p class="review__verify-text">Verified Purchase</p>
                                    </div>
                                </div>
                                <div class="review__row is-column">
                                    <div class="review__descr">
                                        <p class="review__text">Essay writing</p>
                                        <p class="review__days">3 days ago</p>
                                    </div>
                                    <p class="review__paragraph paragraph">
                                        I tried various essay writing services but I can say with confidence that this
                                        is the best service that I have ever used. Thank you!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
