<section class="section guarantee is-seo">
    <div class="container">
        <div class="title">
            <h2 class="title__text">What's So Special About This Service?</h2>
        </div>
        <div class="guarantee__wrapper">
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-1.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">100% Original Writing</h3>
                    <p class="guarantee__paragraph paragraph">
                        Have one of our experts produce authentic content for your research paper.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-2.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">Free Tweaks Within 10 Days</h3>
                    <p class="guarantee__paragraph paragraph">
                        If your paper needs a little something, your expert will be happy to revisit it.
                    </p>
                </div>
            </div>
            <div class="guarantee__item">
                <div class="guarantee__icon">
                    <img src="../img/guarantee-3.svg" alt="icon">
                </div>
                <div class="guarantee__content">
                    <h3 class="guarantee__title item-title">60-Day Quality Warranty</h3>
                    <p class="guarantee__paragraph paragraph">
                        For your peace of mind, every paper we write comes with a moneyback guarantee.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
