<section class="seo-hero">
    <div class="seo-hero__container container">
        <div class="seo-hero__content">
            <h1 class="seo-hero__title">
                Buy a Research Paper Done from Scratch by a Vetted Expert
            </h1>
            <p class="seo-hero__category paragraph">
                Buy research paper online from someone who knows how to conduct subject-based research.
                Our experts are well versed in writing original research papers.
            </p>
        </div>
        <div class="seo-hero__buttons">
            <a href="#" class="btn is-large">Write My Paper</a>
            <a href="#" class="btn is-large is-transparent">View Sample</a>
        </div>
        <div class="seo-hero__list">
            <div class="seo-hero__brand">
                <div class="seo-hero__brand-group">
                    <img src="../img/logo-brand-1.svg" alt="logo">
                </div>
                <div class="seo-hero__brand-group">
                    <div class="seo-hero__brand-row">
                        <span class="seo-hero__brand-num">5.0</span>
                        <span class="seo-hero__brand-rating" aria-hidden="true"></span>
                    </div>
                    <span class="seo-hero__brand-name">MyPaperWriter</span>
                </div>
            </div>
            <div class="seo-hero__brand">
                <div class="seo-hero__brand-group">
                    <img src="../img/logo-brand-2.svg" alt="logo">
                </div>
                <div class="seo-hero__brand-group">
                    <div class="seo-hero__brand-row">
                        <span class="seo-hero__brand-num">5.0</span>
                        <span class="seo-hero__brand-rating" aria-hidden="true"></span>
                    </div>
                    <span class="seo-hero__brand-name">Sitejabber</span>
                </div>
            </div>
            <div class="seo-hero__brand">
                <div class="seo-hero__brand-group">
                    <img src="../img/logo-brand-3.svg" alt="logo">
                </div>
                <div class="seo-hero__brand-group">
                    <div class="seo-hero__brand-row">
                        <span class="seo-hero__brand-num">5.0</span>
                        <span class="seo-hero__brand-rating" aria-hidden="true"></span>
                    </div>
                    <span class="seo-hero__brand-name">Reviews.io</span>
                </div>
            </div>
        </div>
    </div>
</section>
