<section class="section no-ai is-second">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Purchase Research Paper from a Qualified Expert</h2>
        </div>
        <div class="no-ai__wrapper">
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Buy a Research Paper Online</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Every research paper you buy online with our service comes with a 60-day quality warranty,
                        so you are completely safe.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Buy College Research Papers</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Every research paper you buy online with our service comes with a 60-day quality warranty,
                        so you are completely safe.
                    </p>
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__picture">
                    <img src="../img/no-ai-2.svg" alt="robot">
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Buy Research Papers Cheap</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Looking to purchase research paper due in a couple of months? Save up to 50% on projects
                        with longer deadlines.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Order Your Academic Paper Here</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Every transaction is 100% secure - pay with Apple Pay, Google Pay, Microsoft Pay,
                        VISA, Mastercard, or American Express.
                    </p>
                </div>
            </div>
        </div>
        <div class="no-ai__button">
            <a href="#" class="btn is-large">Buy Research Paper</a>
        </div>
    </div>
</section>
