<section class="section benefits is-seo-benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Buy Research Papers for Better Grades</h2>
        </div>
        <div class="benefits__wrapper">
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-1.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Boost Your Grades</h3>
                    <p class="benefits__paragraph paragraph">
                        Improve your academic performance, with 500+ experts across all your favorite
                        (and not so favorite) disciplines.
                    </p>
                    <a href="#" class="benefits__btn">Learn How We Screen</a>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-2.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Get an Ace Result</h3>
                    <p class="benefits__paragraph paragraph">
                        Not a single thing that's out of place will go unnoticed. Our QA team will have your paper
                        fixed before it's sent to you.
                    </p>
                    <a href="#" class="benefits__btn">See How It Works</a>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="../img/benefits-3.svg" alt="icon">
                </div>
                <div class="benefits__content">
                    <h3 class="benefits__title item-title">Hand It in Safely</h3>
                    <p class="benefits__paragraph paragraph">
                        Our experts are good with the time – set your task, and watch your project delivered
                        by the deadline.
                    </p>
                    <a href="#" class="benefits__btn">Touch Base For Help</a>
                </div>
            </div>
        </div>
    </div>
</section>
