<section class="section no-ai">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Hire a Research Paper Writer, Not a Bot</h2>
        </div>
        <div class="no-ai__wrapper">
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Human Writers Only</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        When you pay for research papers with us, you are paying a human expert.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">100% Free of Plagiarism</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Still worried about the authenticity of your content? We’ll send you a report.
                    </p>
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__picture">
                    <img src="../img/no-ai.svg" alt="robot">
                </div>
            </div>
            <div class="no-ai__item">
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">No Missed Deadlines</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Your expert fully understands the importance of a paper handed in on time.
                    </p>
                </div>
                <div class="no-ai__content">
                    <div class="no-ai__group">
                        <span class="no-ai__icon" aria-hidden="true"></span>
                        <h3 class="no-ai__title item-title">Unique Personal Style</h3>
                    </div>
                    <p class="no-ai__paragraph paragraph">
                        Have your research paper mirror your writing style, and make it stand out.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
