<section class="section steps">
    <div class="container">
        <div class="title">
            <h2 class="title__text">From blank to top-grade: Here’s how your paperis brought to life.</h2>
            <p class="title__text-small">We tick every single box, so that you don’t have to.</p>
        </div>
        <div class="steps__wrapper">
            <div class="steps__item">
                <div class="steps__group">
                    <span class="steps__num">1</span>
                    <span class="steps__text">step</span>
                </div>
                <div class="steps__content">
                    <h3 class="steps__title item-title">We’ll plan your paper based on your goal</h3>
                    <p class="steps__paragraph paragraph">
                        Your writer may start with a blank page, but they know exactly what kind of content will go
                        inside, since they know your subject inside out.
                    </p>
                </div>
            </div>
            <div class="steps__item">
                <div class="steps__group">
                    <span class="steps__num">2</span>
                    <span class="steps__text">step</span>
                </div>
                <div class="steps__content">
                    <h3 class="steps__title item-title">We’ll conduct studious research</h3>
                    <p class="steps__paragraph paragraph">
                        From sources review to surveys, your expert will imbue your project with all the necessary
                        findings crucial to the success of your assignment.
                    </p>
                </div>
            </div>
            <div class="steps__item">
                <div class="steps__group">
                    <span class="steps__num">3</span>
                    <span class="steps__text">step</span>
                </div>
                <div class="steps__content">
                    <h3 class="steps__title item-title">We’ll write your paper in line with your specs</h3>
                    <p class="steps__paragraph paragraph">
                        Your writer will generate ideas, and put them all down in a way that will match your project’s
                        unique purpose, and the formatting style you want.
                    </p>
                </div>
            </div>
            <div class="steps__item">
                <div class="steps__group">
                    <span class="steps__num">4</span>
                    <span class="steps__text">step</span>
                </div>
                <div class="steps__content">
                    <h3 class="steps__title item-title">We’ll have your project reviewed till it’s ace</h3>
                    <p class="steps__paragraph paragraph">
                        From plagiarism checks to revisions and format audit, your project will only be ready when
                        you say so. Every paper comes with a 60-day quality warranty.
                    </p>
                </div>
            </div>
        </div>
        <div class="steps__buttons">
            <a href="#" class="btn is-large">Order Now</a>
            <a href="#" class="btn is-large is-transparent">About Us</a>
        </div>
    </div>
</section>
