<section class="section team">
    <div class="container">
        <div class="title">
            <h2 class="title__text">The team behind the scenes</h2>
            <p class="title__text-small">
                Our service wouldn’t be what it is without the hard work of everyone else on board:
            </p>
        </div>
        <div class="team__wrapper">
            <div class="team__item">
                <div class="team__column">
                    <div class="team__group">
                        <span class="team__num">54</span>
                        <div class="team__image">
                            <img src="../img/team-1.svg" alt="icon">
                        </div>
                        <h3 class="team__title item-title">knowledgeable support agents</h3>
                    </div>
                    <div class="team__group">
                        <span class="team__num">5</span>
                        <div class="team__image">
                            <img src="../img/team-2.svg" alt="icon">
                        </div>
                        <h3 class="team__title item-title">systems security managers</h3>
                    </div>
                </div>
            </div>
            <div class="team__item">
                <div class="team__content">
                    <p class="team__subtitle">
                        “Absolutely love my job.
                        My team and I go the extra mile to shield users of this amazing service from all the digital
                        dangers lurking out there. Drop a line if you wanna come on board.”
                    </p>
                    <p class="team__paragraph paragraph">— Head of IT Security</p>
                </div>
            </div>
            <div class="team__item">
                <div class="team__column">
                    <div class="team__group">
                        <span class="team__num">12</span>
                        <div class="team__image">
                            <img src="../img/team-3.svg" alt="icon">
                        </div>
                        <h3 class="team__title item-title">quality control specialists</h3>
                    </div>
                    <div class="team__group">
                        <span class="team__num">5</span>
                        <div class="team__image">
                            <img src="../img/team-4.svg" alt="icon">
                        </div>
                        <h3 class="team__title item-title">well-informed recruiters</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="team__button">
            <a href="#" class="btn is-large">Contact Us</a>
        </div>
    </div>
</section>
