<section class="unfold">
    <div class="container">
        <div class="title is-primary">
            <h1 class="title__text">How your project unfolds</h1>
            <p class="title__text-small">
                Choose the project type, and share as many (or as few) details as you deem necessary.
                Your expert will go from there. And deliver.
            </p>
        </div>
        <div class="unfold__wrapper">
            <div class="unfold__content">

                <div class="unfold__wrap">
                    <h3 class="unfold__question item-title">
                        1. State your task
                    </h3>
                    <div class="unfold__answer">
                        <ul class="unfold__answer-inner">
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Let us know</span>
                                 what kind of service, and type of paper you need, outline the project’s
                                purpose, i.e. whether it’s for school or university, and set the deadline.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Tell us the preferred</span>
                                 title for your paper. If you’re not sure or can’t come up with
                                it on your own, we’ll work out the best title for you.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Include other details</span>
                                 , such as the number of pages and sources, line spacing, and
                                formatting style. Attach a file with instructions if necessary.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Review the details</span>
                                 of your order, and make payment, using one of the many methods
                                available. Paying for papers is safe and hassle-free.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="unfold__wrap">
                    <h3 class="unfold__question item-title">
                        2. Watch your expert at work
                    </h3>
                    <div class="unfold__answer">
                        <ul class="unfold__answer-inner">
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Let us know</span>
                                what kind of service, and type of paper you need, outline the project’s
                                purpose, i.e. whether it’s for school or university, and set the deadline.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Tell us the preferred</span>
                                title for your paper. If you’re not sure or can’t come up with
                                it on your own, we’ll work out the best title for you.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Include other details</span>
                                , such as the number of pages and sources, line spacing, and
                                formatting style. Attach a file with instructions if necessary.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Review the details</span>
                                of your order, and make payment, using one of the many methods
                                available. Paying for papers is safe and hassle-free.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="unfold__wrap">
                    <h3 class="unfold__question item-title">
                        3. See all the boxes ticked
                    </h3>
                    <div class="unfold__answer">
                        <ul class="unfold__answer-inner">
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Let us know</span>
                                what kind of service, and type of paper you need, outline the project’s
                                purpose, i.e. whether it’s for school or university, and set the deadline.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Tell us the preferred</span>
                                title for your paper. If you’re not sure or can’t come up with
                                it on your own, we’ll work out the best title for you.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Include other details</span>
                                , such as the number of pages and sources, line spacing, and
                                formatting style. Attach a file with instructions if necessary.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Review the details</span>
                                of your order, and make payment, using one of the many methods
                                available. Paying for papers is safe and hassle-free.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="unfold__wrap">
                    <h3 class="unfold__question item-title">
                        4. Turn in your project
                    </h3>
                    <div class="unfold__answer">
                        <ul class="unfold__answer-inner">
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Let us know</span>
                                what kind of service, and type of paper you need, outline the project’s
                                purpose, i.e. whether it’s for school or university, and set the deadline.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Tell us the preferred</span>
                                title for your paper. If you’re not sure or can’t come up with
                                it on your own, we’ll work out the best title for you.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Include other details</span>
                                , such as the number of pages and sources, line spacing, and
                                formatting style. Attach a file with instructions if necessary.
                            </li>
                            <li class="unfold__answer-item paragraph">
                                <span class="is-bold">Review the details</span>
                                of your order, and make payment, using one of the many methods
                                available. Paying for papers is safe and hassle-free.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="unfold__image">
                <img src="../img/unfold.svg" alt="picture">
            </div>
        </div>
    </div>
</section>
