<section class="section vet">
    <div class="container">
        <div class="title">
            <h2 class="title__text">How we vet</h2>
            <p class="title__text-small">
                Our recruiters are strict and uncompromising. Through a 5-stage vetting process, they ensure that only
                the best of the best get to work on your papers.
            </p>
        </div>
        <div class="vet__wrapper">
            <div class="vet__image">
                <img src="../img/vet.svg" alt="picture">
            </div>
            <div class="vet__slider">
                <div class="vet__swiper-pagination swiper-pagination"></div>
                <div class="vet__slider-container swiper-container">
                    <div class="swiper-wrapper">

                        <div class="vet__slider-item swiper-slide">
                            <p class="vet__category">32% of candidates pass</p>
                            <h3 class="vet__title item-title">1. Background Check</h3>
                            <p class="vet__paragraph paragraph">
                                We take the screening process very seriously. So, we investigate the candidates’
                                resumes to see if they tick all the boxes when it comes to credentials, certificates,
                                and degrees obtained.
                            </p>
                        </div>

                        <div class="vet__slider-item swiper-slide">
                            <p class="vet__category">14% of candidates pass</p>
                            <h3 class="vet__title item-title">2. Language Exam</h3>
                            <p class="vet__paragraph paragraph">
                                English is tough, what with its many nuances, and a native speaker does not always
                                mean a good writer. A must for all hopefuls to take, this test will tell us all about
                                their language proficiency level.
                            </p>
                        </div>

                        <div class="vet__slider-item swiper-slide">
                            <p class="vet__category">17% of candidates pass</p>
                            <h3 class="vet__title item-title">3. Background Check</h3>
                            <p class="vet__paragraph paragraph">
                                We take the screening process very seriously. So, we investigate the candidates’
                                resumes to see if they tick all the boxes when it comes to credentials, certificates,
                                and degrees obtained.
                            </p>
                        </div>

                        <div class="vet__slider-item swiper-slide">
                            <p class="vet__category">23% of candidates pass</p>
                            <h3 class="vet__title item-title">4. Language Exam</h3>
                            <p class="vet__paragraph paragraph">
                                English is tough, what with its many nuances, and a native speaker does not always
                                mean a good writer. A must for all hopefuls to take, this test will tell us all about
                                their language proficiency level.
                            </p>
                        </div>

                        <div class="vet__slider-item swiper-slide">
                            <p class="vet__category">12% of candidates pass</p>
                            <h3 class="vet__title item-title">5. Background Check</h3>
                            <p class="vet__paragraph paragraph">
                                We take the screening process very seriously. So, we investigate the candidates’
                                resumes to see if they tick all the boxes when it comes to credentials, certificates,
                                and degrees obtained.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
